<div class="borde">
    <nav class="menu">
        <p>MENÚ</p>
        <a routerLink="altaAlumno">Alta de un usuario</a><br>
        <a routerLink="altaCurso">Alta de un curso</a><br>
        <a routerLink="matricular">Matricular a un alumno</a><br>
        <br>
        <a routerLink="alumnosCurso">Buscar alumnos por curso</a><br> 
        <a routerLink="cursosAlumno">Buscar cursos por alumno</a><br>
        <a routerLink="matriculas">Consultar matriculas</a><br>
        <br>
        <a href="">Inicio</a>
    </nav>
</div>

<router-outlet></router-outlet>

